{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="text-center mt-5">
    <h1>FitShare</h1>
        <p class="lead"><span class="lead fw-bold">Description:</span><br>FitShare is a cutting-edge social-networking platform designed to help people achieve their fitness goals and improve their overall health. Whether you're a seasoned athlete or just starting out on your fitness journey, FitShare offers a collaborative and supportive environment where you can share your training program, track your workouts and get the knowledge you need to build your next training program and reach your goals.
            Just log in and explore different training programs
        </p>
        <p class="lead" ><span class="lead fw-bold">The Team:</span><br>Amit Finzi<br>Meitar Rizner</p>
    </div>
</div>
{% endblock content %}